doctype html
html(lang='en')
    include common/head.pug
    +head("starter MVP")
    body
      h1= title
      p Welcome to #{title}
        span #{lead.email}
        |
        a(href="/lead/" + lead.id + "/edit") Edit
        |
        form(action="/lead/" + lead.id + "/delete", method="POST")
            button(type="submit") Delete
        include common/footer.pug
        +footer()